a{
    color: gray;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

body{
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

input{
    outline: none;
}

.container{
    max-width: 1138px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }

.header{
    background-color: #222222;
    position: relative;
}

.header__burger:hover, .header__login-link:hover, .header__cart-link:hover{
    opacity: 50%;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header__navigation{
    position: absolute;
    background-color: white;
    width: 28%;
    min-height: 764px;
    right: 0px;
    top: 100%;
    display: none;
    padding: 30px 0 0 30px;
}

.black{
    position: absolute;
    background-color: black;
    width: 70%;
    min-height: 764px;
    left: 0px;
    display: none;
    top: 100%;
}

.header__burger:hover + .header__navigation,
.header__burger:focus + .header__navigation
{
    display: block;
} 

.header__burger:hover ~ .black,
.header__burger:focus ~ .black{
    display: block;
    opacity: 50%;
}

.header__navigation:hover{
    display: block;
}

.header__navigation:hover ~ .black{
    display: block;
    opacity: 50%;
}

.header__navigation-list{
    margin: 25px 0 0 0;
}

.header__navigation-category{
    color: #F16D7F;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
}

.header__navigation-itemlist{
    margin: 10px 0 10px 20px;
}

.header__navigation-item{
    margin: 5px 0 5px 0;
}

.header__logo{
    margin: 0 10px 0 0;
}

.header__burger{
    background-color: transparent;
    border: none;
    margin: 0 34px 0 0;
}

.header__login-link{
    margin: 0 34px 0 0;
}

.brand{
    display: flex;
    margin: 0 0 63px 0;
}

.brand__title-wrapper{
    padding: 0 0 0 91px;
    background-color: #F1E4E6;
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.brand__title{
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}
.brand__subtitle{
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__subtitle-pink{
    color: hotpink;
}

.offers__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offers__item{
    color: white;
    width: 360px;
    min-height: 260px;
    margin: 0 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers__item:hover{
    opacity: 50%;
    transition: 1s;
}

.offers__item-woman{
    background-image: url(../img/offer-woman.jpg);
}

.offers__item-man{
    background-image: url(../img/offer-man.jpg);
}

.offers__item-kid{
    background-image: url(../img/offer-kid.jpg);
}

.offers__item-accesories{
    background-image: url(../img/offer-accesories.jpg);
    width: 100%;
}

.offers__title{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
}

.offers__subtitle{
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
}

.products__heading-wrapper{
    margin: 0 0 32px 0;
}

.products__heading{
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.products__heading-title{
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
}

.products__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__item{
    position: relative;
    width: 360px;
    min-height: 420px;
    margin: 0 0 32px 0;
}

.products__item:hover::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
  }

  .products__item-addcart{
    position: absolute;
    color: #F16D7F;
    background-color: transparent;
    border-color: #F16D7F;
    width: 200px;
    height: 50px;
    top: 150px;
    left: 80px;
    display: none;
  }

  .products__item:hover .products__item-addcart{
    display: block;
  }

.products__title{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
}

.products__subtitle{
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin: 0 0 10px 0;
}

.products__cost{
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.products__browse-wrapper{
    display: flex;
    justify-content: center;
}

.products__browse{
    color: #F16D7F;
    background-color: transparent;
    border-color: #F16D7F;
    justify-content: center;
    width: 211px;
    height: 47px;
    margin: 0 0 32px 0;
}

.button__hover:hover{
    color: white;
    background-color: #F16D7F;
}

.advantage{
    background-color: #222224;
}

.advantage__wrapper{
    min-height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantage__list{
    display: flex;
}

.advantage__list img{
    display: flex;
    margin: 0 auto;
}

.advantage__title{
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 15px 0 15px 0;
}

.advantage__subtitle{
    color: white;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-align: center;
}

.footer__info{
    background-image: url(../img/photo-subscribe.jpg);
}

.footer__info-wrapper{
    min-height: 448px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__info img{
    display: flex;
    margin: 0 auto;
}

.footer__comment-title{
    width: 400px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 15px 0 0 0;
}

.footer__subscribe-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}

.footer__subscribe-subtitle{
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 25px 0;
}

.footer__subscribe-form{
    display: flex;
}

.footer__subscribe-input{
    background-color: #E1E1E1;
    border: 0px;
    border-radius: 40px 0 0 40px;
    width: 240px;
    height: 49px;
    padding: 0 0 0 15px;
}

.footer__subscribe-submit{
    color: white;
    background-color: #F16D7F;
    border: 0;
    border-radius: 0 40px 40px 0;
    width: 100px;
}

.copyright{
    color: white;
    background-color: #222222;
}

.copyright__wrapper{
    min-height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links-icon:hover .footer__links-back{
    fill: #F16D7F;
}
.footer__links-icon:hover .footer__links-front{
    fill: white;
}

.register__heading-wrapper{
    min-height: 148px;
    background-color: #F8F3F4;
}

.register-wrapper{
    display: flex;
    justify-content: space-between;
}

.register__heading{
    color: #F16D7F;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    padding: 55px 0 0 150px;
}

.register__form{
    display: flex;
    flex-direction: column;
}

.register__firstname, .register__lastname, .register__email, .register__password, .register__prompt{
    width: 360px;
    height: 45px;
    margin: 33px 0 0px 0;
}

.register__gender-wrapper{
    margin: 25px 0 25px 0;
}

.register__prompt{
    color: #B1B1B1;
    font-size: 15px;
    font-weight: 300;
    line-height: 16px;
}

.register__submit{
    color: #F16D7F;
    color: white;
    background-color: #F16D7F;
    border: 0;
    width: 167px;
    height: 50px;
    margin: 30px 0 0 0;
}

.register__info-title{
    width: 600px;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    margin: 25px 0 25px 0;
}

.register__info-subtitle{
    position: relative;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    margin: 10px 0 0 0;
}

.register__info-subtitle:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 16px;
    background-image: url(../img/check.svg);
    left: -35px;
    top: 7px;
}