html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: gray;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

body {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

input {
  outline: none;
}

.container {
  max-width: 1138px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-color: #222222;
  position: relative;
}
.header .header__burger:hover, .header .header__login-link:hover, .header .header__cart-link:hover {
  opacity: 50%;
}
.header .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
}
.header .header__navigation {
  position: absolute;
  background-color: white;
  width: 28%;
  min-height: 764px;
  right: 0px;
  top: 100%;
  display: none;
  padding: 30px 0 0 30px;
  z-index: 1;
}
.header .black {
  position: absolute;
  background-color: black;
  width: 70%;
  min-height: 764px;
  left: 0px;
  display: none;
  top: 100%;
}
.header .header__burger:hover + .header__navigation,
.header .header__burger:focus + .header__navigation {
  display: block;
}
.header .header__burger:hover ~ .black,
.header .header__burger:focus ~ .black {
  display: block;
  opacity: 50%;
}
.header .header__navigation:hover {
  display: block;
}
.header .header__navigation:hover ~ .black {
  display: block;
  opacity: 50%;
}
.header .header__navigation-list {
  margin: 25px 0 0 0;
}
.header .header__navigation-category {
  color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}
.header .header__navigation-itemlist {
  margin: 10px 0 10px 20px;
}
.header .header__navigation-item {
  margin: 5px 0 5px 0;
}
.header .header__logo {
  margin: 0 10px 0 0;
}
.header .header__burger {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
}
.header .header__login-link {
  margin: 0 34px 0 0;
}

.brand {
  display: flex;
  margin: 0 0 63px 0;
}
.brand .brand__title-wrapper {
  padding: 0 0 0 91px;
  background-color: #F1E4E6;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.brand .brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
}
.brand .brand__title:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 100%;
  background-color: palevioletred;
  left: -20px;
}
.brand .brand__subtitle {
  display: block;
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
}
.brand .brand__subtitle-pink {
  color: hotpink;
}

.offers .offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.offers .offers__item {
  color: white;
  width: 360px;
  min-height: 260px;
  margin: 0 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offers .offers__item:hover {
  opacity: 50%;
  transition: 1s;
}
.offers .offers__item-woman {
  background-image: url(../img/offer-woman.jpg);
}
.offers .offers__item-man {
  background-image: url(../img/offer-man.jpg);
}
.offers .offers__item-kid {
  background-image: url(../img/offer-kid.jpg);
}
.offers .offers__item-accesories {
  background-image: url(../img/offer-accesories.jpg);
  width: 100%;
}
.offers .offers__title {
  font-size: 16px;
  line-height: 19px 400;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}
.offers .offers__subtitle {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px 700;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.products .products__heading-wrapper {
  margin: 0 0 32px 0;
}
.products .products__heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.products .products__heading-title {
  color: #9F9F9F;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.products .products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products .products__item {
  position: relative;
  width: 360px;
  min-height: 420px;
  margin: 0 0 32px 0;
}
.products .products__item:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
}
.products .products__item-addcart {
  position: absolute;
  color: #F16D7F;
  background-color: transparent;
  border-color: #F16D7F;
  width: 200px;
  height: 50px;
  top: 150px;
  left: 80px;
  display: none;
}
.products .products__item:hover .products__item-addcart {
  display: block;
}
.products .products__title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin: 10px 0 10px 0;
}
.products .products__subtitle {
  color: #5D5D5D;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  margin: 0 0 10px 0;
}
.products .products__cost {
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
}
.products .products__browse-wrapper {
  display: flex;
  justify-content: center;
}
.products .products__browse {
  color: #F16D7F;
  background-color: transparent;
  border-color: #F16D7F;
  justify-content: center;
  width: 211px;
  height: 47px;
  margin: 0 0 32px 0;
}
.products .button__hover:hover {
  color: white;
  background-color: #F16D7F;
}

.advantage {
  background-color: #222224;
}
.advantage .advantage__wrapper {
  min-height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantage .advantage__list {
  display: flex;
}
.advantage .advantage__list img {
  display: flex;
  margin: 0 auto;
}
.advantage .advantage__title {
  color: white;
  font-size: 20px;
  line-height: 24px 400;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 15px 0 15px 0;
}
.advantage .advantage__subtitle {
  color: white;
  font-size: 14px;
  line-height: 17px 300;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.footer__info {
  background-image: url(../img/photo-subscribe.jpg);
}

.footer__info-wrapper {
  min-height: 448px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__info img {
  display: flex;
  margin: 0 auto;
}

.footer__comment-title {
  width: 400px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin: 15px 0 0 0;
}

.footer__subscribe-title {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.footer__subscribe-subtitle {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}

.footer__subscribe-form {
  display: flex;
}

.footer__subscribe-input {
  background-color: #F1E4E6;
  border: 0px;
  border-radius: 40px 0 0 40px;
  width: 240px;
  height: 49px;
  padding: 0 0 0 15px;
}

.footer__subscribe-submit {
  color: white;
  background-color: #F16D7F;
  border: 0;
  border-radius: 0 40px 40px 0;
  width: 100px;
}

.copyright {
  color: white;
  background-color: #222222;
}
.copyright .copyright__wrapper {
  min-height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__links-icon:hover .footer__links-back {
  fill: #F16D7F;
}

.footer__links-icon:hover .footer__links-front {
  fill: white;
}

.register .register__heading-wrapper {
  min-height: 148px;
  background-color: #F1E4E6;
}
.register .register-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 25px 0;
}
.register .register__heading {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  padding: 55px 0 0 150px;
  text-transform: uppercase;
}
.register .register__form {
  display: flex;
  flex-direction: column;
}
.register .register__firstname, .register .register__lastname, .register .register__email, .register .register__password, .register .register__prompt {
  width: 360px;
  height: 45px;
  margin: 33px 0 0px 0;
}
.register .register__gender-wrapper {
  margin: 25px 0 25px 0;
}
.register .register__prompt {
  color: #B1B1B1;
  font-size: 15px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
}
.register .register__submit {
  color: #F16D7F;
  color: white;
  background-color: #F16D7F;
  border: 0;
  width: 167px;
  height: 50px;
  margin: 30px 0 0 0;
}
.register .register__info-title {
  width: 600px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  margin: 25px 0 25px 0;
}
.register .register__info-subtitle {
  position: relative;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  margin: 10px 0 0 0;
}
.register .register__info-subtitle:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  background-image: url(../img/check.svg);
  left: -35px;
  top: 7px;
}

.cart .cart__heading-wrapper {
  min-height: 148px;
  background-color: #F1E4E6;
}
.cart .cart__heading {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  padding: 55px 0 0 150px;
  text-transform: uppercase;
}
.cart .cart__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 25px 0;
}
.cart .cart__form {
  display: flex;
  flex-direction: column;
  margin: 0 0 40px 0;
}
.cart .cart__city, .cart .cart__state, .cart .cart__postcode {
  width: 360px;
  height: 45px;
  margin: 15px 0 15px 0;
}
.cart .cart__get {
  color: #A4A4A4;
  background-color: transparent;
  width: 105px;
  height: 35px;
  border: 1px solid #A4A4A4;
  text-transform: uppercase;
}
.cart .cart__card {
  display: flex;
  background-color: white;
  width: 652px;
  height: 300px;
  filter: drop-shadow(10px 10px 4px gray);
  margin: 0 0 30px 0;
}
.cart .cart__card-wrapper {
  margin: 10px 0 0 25px;
}
.cart .cart__card-title {
  width: 262px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}
.cart .cart__card-cost, .cart .cart__card-color, .cart .cart__card-size, .cart .cart__card-quantity {
  color: #575757;
  margin: 0 0 10px 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
}
.cart .cart__card-cost-pink, .cart .cart__grandtotal-pink {
  color: #EF5B70;
}
.cart .cart__checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F3F3;
  width: 360px;
  height: 214px;
}
.cart .cart__subtotal {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin: 30px 25px 10px 0;
}
.cart .cart__grandtotal {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 25px 0 0;
}
.cart .cart__submit {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #F16D7F;
  color: white;
  background-color: #F16D7F;
  border: 0;
  width: 273px;
  height: 50px;
  margin: 50px 0 0 0;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */