.advantage{
    background-color: $dark-gray;

    .advantage__wrapper{
        min-height: 420px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .advantage__list{
        display: flex;
    }
    
    .advantage__list img{
        display: flex;
        margin: 0 auto;
    }
    
    .advantage__title{
        color: $white;
        @include font(20px, 24px 400);
        text-align: center;
        margin: 15px 0 15px 0;
    }
    
    .advantage__subtitle{
        color: $white;
        @include font(14px, 17px 300);
        text-align: center;
    }    
}